<a href="https://colab.research.google.com/github/raheelam98/Modern_AI_Python/blob/main/00_python_colab/02_data_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Common data types in Python:**

* int - Integer (whole number)
* float - Floating-point number (decimal)
* str - String (sequence of characters)
* bool - Boolean (True or False)
* list - List (ordered collection of items)
* tuple - Tuple (ordered, immutable collection of items)
* dict - Dictionary (key-value pairs)
* set - Set (unordered collection of unique items)
* frozenset - Frozenset (immutable set)
* NoneType - None (represents no value)
* bytes - Bytes (immutable sequence of bytes)
* bytearray - Bytearray (mutable sequence of bytes)

### Python Data Types Table

| Data Type       | Ordered? | Changeable? | Allows Duplicates? | Mutable/Immutable | Used to Store |
|----------------|---------|-------------|-------------------|------------------|---------------|
| **List (`[]`)**       | ✅ Yes  | ✅ Yes  | ✅ Yes  | **Mutable** | Multiple items (any data type) |
| **Dictionary (`{}`)** | ✅ Yes (Python 3.7+) | ✅ Yes  | ❌ No (Keys must be unique) | **Mutable** | Key-value pairs |
| **Tuple (`()`**)      | ✅ Yes  | ❌ No  | ✅ Yes  | **Immutable** | Multiple items (any data type) |
| **Set (`{}`)**        | ❌ No  | ✅ Yes  | ❌ No  | **Mutable** | Unique items (any data type) |

#### **Key Takeaways:**
- **List**: Stores multiple elements, allows duplicates, can be changed.
- **Dictionary**: Stores key-value pairs, keys must be unique, values can be changed.
- **Tuple**: Similar to a list but **cannot** be modified.
- **Set**: Stores unique elements, unordered, and changeable.

**Mutable**

- **Mutable (Changeable after creation)** → `List`, `Dictionary`, `Set`
- **Immutable (Cannot be changed after creation)** → `Tuple`

**Integers (int)**

Integers are whole numbers, both positive and negative, without decimals.

In [ ]:
# integer
x = 5 # int
y = -12
age = 20
print(type(x))
print(type(y))
print(type(age))

<class 'int'>
<class 'int'>
<class 'int'>

**Floating-point numbers (float)**

Floats represent decimal numbers.

In [ ]:
a = 3.14
b = -0.001
print(type(a))  # <class 'float'>
print(type(b))  # <class 'float'>

<class 'float'>
<class 'float'>

**Strings (str)**

Strings are sequences of characters enclosed in quotes (single or double).

In [ ]:
name = "Panversity"
message = 'Hello, class!'
print(type(name))  # <class 'str'>

<class 'str'>

**Booleans (bool)**

Booleans represent two values: True or False.

In [ ]:
is_active = True
is_logged_in = False
print(type(is_active))  # <class 'bool'>

<class 'bool'>

**Tuples (tuple)**

Tuples are ordered, immutable collections of items.

In [ ]:
point = (3, 5)
colors = ("red", "green", "blue")
print(type(point))  # <class 'tuple'>

<class 'tuple'>

**Dictionaries (dict)**

Dictionaries are collections of key-value pairs.

In [ ]:
student = {"name": "Bilal", "age": 21, "grade": "A"}
print(type(student))  # <class 'dict'>

<class 'dict'>

**Sets (set)**

Sets are unordered collections of unique items.

In [ ]:
unique_numbers = {1, 2, 3, 3, 4}
print(type(unique_numbers))  # <class 'set'>

<class 'set'>

**NoneType (None)**

The None type is used to represent the absence of a value or a null value.

In [ ]:
result = None
print(type(result))  # <class 'NoneType'>

<class 'NoneType'>

**Bytes (bytes)**

Bytes are immutable sequences of bytes, used for binary data.

In [ ]:
byte_data = b"Hello"
print(type(byte_data))  # <class 'bytes'>

<class 'bytes'>